.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
**/__pycache__
**/api_key.txt
**/not_my_datasets
**/.vscode
**/src/__pycache__
datasets/training_data-RogerDesktop.csv
src/DataPuller-RogerDesktop.py
src/Driver-RogerDesktop.py
src/DataSetMaker-RogerDesktop.py
